.main-content {
  padding-top: 8%;
  padding-bottom: 10%;
}

.main-content-container {
  padding-top: 7%;
  margin-right: 0;
  margin-left: 0;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/19/15/12/filling-station-1839760_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
