<div class="container-fluid products-container">
    <!-- Title -->
    <p class="fs-1 text-center">Todos los productos</p>

    <div class="container cards-container">
        <div class="row text-center">
            <!-- Consumer Products Card -->
            <div class="col m-2 d-flex justify-content-center card-menu rounded" (click)="showConsumerProducts()">
                <div class="card" style="width: 18rem">
                    <img [src]="consumerImg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <p class="fs-3 text-center">Consumidores</p>
                    </div>
                </div>
            </div>
            <!-- Vendor Products Card -->
            <div class="col m-2 d-flex justify-content-center card-menu rounded" (click)="showVendorProducts()">
                <div class="card" style="width: 18rem">
                    <img [src]="vendorImg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <p class="fs-3 text-center">Distribuidores</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="products-grid" id="products-list">
        <app-products-list [title]="'CONSUMIDORES'" [products]="consumerProducts" [hidden]="consumerProductsHidden"></app-products-list>
        <app-products-list [title]="'DISTRIBUIDORES'" [products]="vendorProducts" [hidden]="vendorProductsHidden"></app-products-list>
    </div>
</div>
