<!-- Product Price -->
<div class="container dispenser-container animated fadeIn fast">
    <img [src]="product.nomprod | productImage" alt="product.nomprod" class="dispenser-image" />
    <div class="fs-5 price-value d-none d-lg-block"  [ngClass]="[priceTextClass, product.nomprod | priceLabelColor]">
        {{ product.preciototal | currency: "CRC":"symbol-narrow" }}
    </div>
    <div class="fs-6 price-value d-none d-lg-none d-md-block"  [ngClass]="[priceTextClass, product.nomprod | priceLabelColor]">
        {{ product.preciototal | currency: "CRC":"symbol-narrow" }}
    </div>
    <div class="fs-1 price-value d-md-none d-sm-block"  [ngClass]="[priceTextClass, product.nomprod | priceLabelColor]">
        {{ product.preciototal | currency: "CRC":"symbol-narrow" }}
    </div>
</div>
<!-- Product Details -->
<div class="container p-1 fadeIn fast" *ngIf="!detailsHidden">
    <h4 class="text-center mt-4">Detalles</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Producto: <small>{{ product.nomprod }}</small>
        </li>
        <li class="list-group-item">
            Precio sin impuesto:
            <small>{{ product.precsinimp | currency: "CRC":"symbol-narrow" }}</small>
        </li>
        <li class="list-group-item">
            Impuesto:
            <small>{{ product.impuesto | currency: "CRC":"symbol-narrow" }}</small>
        </li>
        <li class="list-group-item">
            Precio con impuesto:
            <small>{{ product.preciototal | currency: "CRC":"symbol-narrow" }}</small>
        </li>
        <li class="list-group-item">
            Última actualización:
            <small>{{ product.fechaupd | date: "dd/MM/yyyy" }}</small>
        </li>
    </ul>
</div>
