<!-- Product Price -->
<div class="container dispenser-container animated fadeIn fast">
    <img [src]="product.nomprod | productImage" alt="product.nomprod" class="dispenser-image" />
    <ng-container *ngIf="showPrices">
        <div class="fs-4 price-value d-none d-lg-block" [ngClass]="[product.nomprod | priceLabelColor]">
            ₡{{ product.preciototal | number: '1.0-0' }}
        </div>
        <div class="fs-6 price-value d-none d-lg-none d-md-block" [ngClass]="[product.nomprod | priceLabelColor]">
            ₡{{ product.preciototal | number: '1.0-0' }}
        </div>
        <div class="fs-1 price-value d-md-none d-sm-block" [ngClass]="[product.nomprod | priceLabelColor]">
            ₡{{ product.preciototal | number: '1.0-0' }}
        </div>
    </ng-container>
</div>
<!-- Product Details -->
<div class="container p-1 fadeIn fast" *ngIf="!detailsHidden">
    <h4 class="text-center mt-4">Detalles</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Producto: <small>{{ product.nomprod }}</small>
        </li>
        <li class="list-group-item">
            Precio sin impuesto:
            <small>{{ product.precsinimp | currency: "CRC":"symbol-narrow" }}</small>
        </li>
        <li class="list-group-item">
            Impuesto:
            <small>{{ product.impuesto | currency: "CRC":"symbol-narrow" }}</small>
        </li>
        <li class="list-group-item">
            Precio con impuesto:
            <b><small>{{ product.preciototal | currency: "CRC":"symbol-narrow" }}</small></b>
        </li>
        <li class="list-group-item">
            Última actualización:
            <small>{{ product.fechaupd | date: "dd/MM/yyyy" }}</small>
        </li>
    </ul>
</div>