.price-value {
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 175%;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dispenser-container {
    position: relative;
    text-align: center;
}

.dispenser-image {
    width: 80%;
    height: 80%;
}
