<div class="container-sm custom-container animated fadeIn">
    <!-- Title -->
    <p class="fs-2 text-primary">Productos {{title}}</p>
    <!-- List of product's cards -->
    <div class="container products-container">
        <div class="row text-center">
            <div class="col-4 text-center" *ngFor="let product of products">
                <!-- Products Card -->
                <app-product-card [product]="product" [detailsHidden]="false"></app-product-card>
            </div>
        </div>
    </div>
</div>
