<div class="container-sm custom-container animated fadeIn">
    <!-- Title -->
    <p class="fs-2 text-primary">Productos {{title}}</p>
    <!-- List of product's cards -->
    <div class="container products-container">
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-2 justify-content-center" *ngFor="let product of products">
                <!-- Products Card -->
                <app-product-card [product]="product" [detailsHidden]="false" [priceTextClass]="'fs-4'"></app-product-card>
            </div>
        </div>
    </div>
</div>
