<div class="container-fluid prices-main-container animated fadeIn">
    <!-- Title -->
    <p class="fs-1 text-center text-light">PRECIOS</p>
    <!-- List of product's cards -->
    <div class="container prices-container">
        <div class="row text-center">
            <div class="col text-center" *ngFor="let product of filteredList()">
                <!-- Products Card -->
                <app-product-card [product]="product" [detailsHidden]="true"></app-product-card>
            </div>
        </div>
    </div>
</div>
